@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
body {
  font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: 0.85;
  transition: 0.3s;
}

.body {
  background: #353535;
}

.main {
  position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 900px) {
  .u-wrapper {
    padding: 0px 15px;
  }
}

/* ここから記述します。 */
/*-------------------------------------------
TOP gridレイアウト
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
aboutページ / about.html
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
companyページ / company.html
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
itemページ / item*.html
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
productsページ / products.html
-------------------------------------------*/
/* ここから記述します。 */