@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
body {
  font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* ここから記述します。 */
/*-------------------------------------------
TOP gridレイアウト
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
aboutページ / about.html
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
companyページ / company.html
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
itemページ / item*.html
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
productsページ / products.html
-------------------------------------------*/
/* ここから記述します。 */