/*-------------------------------------------
products
-------------------------------------------*/
@use 'setting' as *;

.products__title {
    @include mainTitle;

}

.products__title::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: $baseColor;
    display: block;
    margin-right: 24px;

    @media screen and (max-width: 900px) {
        width: 32px;
        margin-right: 16px;
    }
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-bottom: 120px;

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 28px 8px;
        margin-bottom: 80px;
    }
}

.products__gridImg {
    margin-bottom: 10px;
    vertical-align: top;
}

.products__gridText {
    font-size: 16px;
    color: $baseColor;

    @media screen and (max-width: 900px) {
        font-size: 14px;
    }
}

.products__gridText:first-of-type {
    margin-bottom: 4px;
}

/*人気商品のgridレイアウト３列*/
.products__gridPopular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 120px;

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 28px 8px;
        margin-bottom: 80px;
    }
}