/*-------------------------------------------
mixin
-------------------------------------------*/
@mixin main__title{
    font-size: 32px;
      color: #fff;
      margin: 32px auto;
      display: flex;
      align-items: center;
    
      @media screen and (max-width: 900px) {
          font-size: 24px;
      }
}