$colorWhite: #fff;
$colorBlack: #353535;
$borderColor: #cacaca;

@mixin mainTitle{
    font-size: 32px;
    color: $colorWhite;
    margin: 32px auto;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 900px) {
        font-size: 24px;
    }
}
@mixin buttonStyle{
    width: 240px;
    color: $colorWhite;
    display: inline-block;
}